*.tgz filter=lfs diff=lfs merge=lfs -text
packages/zimbra-net-snmp-lib-dbg_5.8-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-lmdb-lib-dbg_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-memcached-dev_1.6.5-1zimbra8.7b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-apr-util-lib_1.6.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-nginx-dbg_1.20.0-1zimbra8.8b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-error_0.17024-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-ip-country_2.28-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-rrdtool-dbg_1.2.30-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-bdb-lib_5.2.42-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libart-lib_2.3.21-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-en_7.1.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-dnscache-components_1.0.2-1zimbra8.7b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-io-socket-ip_0.37-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-zeromq-lib-dbg_4.1.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell_0.60.8-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-heimdal-dev_7.7.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libltdl-lib-dbg_2.2.6b-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-net-snmp-dbg_5.8-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openssl-dbg_1.1.1l-1zimbra8.7b4_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-rrdtool-lib-dbg_1.2.30-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-ar_1.2.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-lmdb-dbg_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openldap-lib-dbg_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-unbound-lib_1.11.0-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libevent-lib-dbg_2.0.22-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-swatchdog_3.2.4-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-zmq-constants_1.04-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-pflogsumm_1.1.5-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-httpd-dbg_2.4.51-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-lmdb-dev_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-berkeleydb_0.55-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-crypt-openssl-rsa_0.31-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-io-socket-ssl_2.068-1zimbra8.7b3_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-netaddr-ip_4.078-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-it_2.2.20050523.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-bdb_5.2.42-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-clamav-dbg_0.103.2-1zimbra8.8b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-opendkim-lib_2.10.3-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-php_7.3.25-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-unbound-lib-dbg_1.11.0-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-zimbra_1.0.0-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-db-file_1.835-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-libwww_6.13-1zimbra8.7b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-mozilla-ca_20150826-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-xml-sax-base_1.08-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openssl-dev_1.1.1l-1zimbra8.7b4_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-convert-binhex_1.124-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-crypt-saltedhash_0.09-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-http-cookies_6.01-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-http_6.09-1zimbra8.7b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-date-calc_6.4-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-rrdtool-dev_1.2.30-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-hi_0.02.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-bdb-lib-dbg_5.2.42-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-httpd-dev_2.4.51-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libsodium-lib_1.0.6-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-mta-components_1.0.14-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openssl-lib_1.1.1l-1zimbra8.7b4_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-apr-lib_1.5.2-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-clamav-db_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-json-pp_2.27300-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-socket-linux_0.01-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-xml-parser_2.44-1zimbra8.7b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-convert-uulib_1.5-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-zmq-libzmq3_1.19-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-rrdtool-lib_1.2.30-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-zeromq-lib_4.1.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-curl-dbg_7.49.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openssl-lib-dbg_1.1.1l-1zimbra8.7b4_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-unix-syslog_1.1-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-dbd-sqlite_1.48-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-pl_6.0.20061121.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-dns_1.04-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-xml-sax_0.99-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-altermime_0.3.20100505-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-io-socket-inet6_2.72-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-cidr_0.18-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-snmp-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-zeromq-dev_4.1.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-mta-base_1.0.1-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-os-requirements_1.0.1-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl_1.0.6-1zimbra8.7b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-digest-hmac_1.03-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-uri_1.69-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-dev_0.60.8-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-unbound-dbg_1.11.0-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-rrdtool_1.2.30-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-amavis-logwatch_1.51.03-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libltdl-lib_2.2.6b-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libmilter-dev_8.15.2-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libxml2-dbg_2.9.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openjdk-cacerts_1.0.8-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openldap-server-dbg_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-fr_0.50.3-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-curl-lib-dbg_7.49.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openldap-dev_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-ldapapi_3.0.3-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-postfix_3.6.1-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-lib_0.60.8-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-bdb-dbg_5.2.42-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-memcached_1.6.5-1zimbra8.7b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-file-tail_1.3-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-zeromq_4.1.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libart-lib-dbg_2.3.21-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-opendkim_2.10.3-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-html-parser_3.71-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-innotop_1.9.1-1zimbra8.7b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-apr-lib-dbg_1.5.2-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-pt-br_20090702.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-http-message_6.11-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libpng-lib-dbg_1.6.23-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-crypt-openssl-random_0.11-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-spell-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-cyrus-sasl_2.1.26-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-httpd_2.4.51-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openldap-server_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-bdb-dev_5.2.42-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libxml2-dev_2.9.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-data-uuid_1.221-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-tcmalloc-lib_2.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-ru_0.99f7.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-exporter-tiny_0.042-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-postfix-dbg_3.6.1-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-tcmalloc-dev_2.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-mime-lite_3.030-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-prepflog_0.4.1-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-altermime-dbg_0.3.20100505-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-dbg_0.60.8-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-heimdal-lib-dbg_7.7.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libsodium-lib-dbg_1.0.6-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-dbd-mysql_4.050-1zimbra8.7b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-encode-locale_1.05-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-task-weaken_1.04-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-www-robotrules_6.02-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-cyrus-sasl-dev_2.1.26-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-cyrus-sasl-lib_2.1.26-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-dnscache-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libxml2-lib-dbg_2.9.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-digest-sha1_2.13-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-io-html_1.001-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-lmdb-lib_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-spamassassin-rules_1.0.0-1zimbra8.8b5_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-freetype-dev_2.7.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-mariadb-lib-dbg_10.4.13-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openldap-client_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-config-inifiles_2.86-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-file-grep_0.02-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-libidn_0.12-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-apache-components_2.0.5-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-filesys-df_0.92-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-math-bigint_1.999708-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-term-readkey_2.33-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-spell-components_2.0.7-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-base_1.0.2-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-core-components_3.0.10-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-timedate_2.30-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-cache-fastmmap_1.43-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-hu_0.99.4.2.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-ldap-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openssl_1.1.1l-1zimbra8.7b4_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-xml-sax-expat_0.51-1zimbra8.7b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-postfix-logwatch_1.40.03-1zimbra8.7b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-rsync-dbg_3.1.2-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-store-components_1.0.3-1zimbra8.7b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-zeromq-dbg_4.1.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-clamav_0.103.2-1zimbra8.8b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-cluebringer_2.1.0.0.cf484f1b93cf9965886cc89d33bdeee9c26426cb-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-canary-stability_2006-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-encode-detect_1.01-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-geography-countries_2009041301-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-io-sessiondata_1.03-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-freetype-lib_2.7.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-jetty-distribution_9.4.28.v20200408-2._arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-mariadb-lib_10.4.13-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-archive-zip_1.53-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-convert-asn1_0.27-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-lwp-protocol-https_6.06-1zimbra8.7b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-lib-dbg_0.60.8-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-net-snmp-lib_5.8-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openldap-lib_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-compress-raw-zlib_2.093-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-apr-util-dev_1.6.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-clamav-lib_0.103.2-1zimbra8.8b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-osl_2.0.0-1zimbra9.0b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-xml-simple_2.25-1zimbra8.7b3_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-apr-util-lib-dbg_1.6.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-curl_7.49.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-date-manip_6.51-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-mail-spf_2.9.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-clamav-dev_0.103.2-1zimbra8.8b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-http-negotiate_6.01-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-soap-lite_1.19-1zimbra8.7b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-php-dbg_7.3.25-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-da_1.4.42.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libbsd-lib_0.7.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libevent-dev_2.0.22-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libpng-lib_1.6.23-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-lwp-mediatypes_6.02-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-parent_0.234-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-file-listing_6.04-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-mime-types_2.11-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-nl_0.50.2-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-sv_0.51.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-curl-lib_7.49.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libsodium-dev_1.0.6-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-mariadb_10.4.13-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-class-inspector_1.28-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-clamav-lib-dbg_0.103.2-1zimbra8.8b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openjdk_13.0.1-1zimbra8.7b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-mail-spamassassin_3.4.5-1zimbra8.8b4_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-socket_2.020-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-cyrus-sasl-dbg_2.1.26-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-convert-tnef_0.18-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libxml2_2.9.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-http-date_6.02-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-unix-getrusage_0.03-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-cyrus-sasl-lib-dbg_2.1.26-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libbsd-dev_0.7.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-memcached-dbg_1.6.5-1zimbra8.7b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-net-snmp-dev_5.8-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-nginx_1.20.0-1zimbra8.8b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-store-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-unbound-dev_1.11.0-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-ca_2.1.5.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-es_1.11.2-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-mariadb-dbg_10.4.13-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-mail-dkim_0.40-1zimbra8.7b3_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-mime-tools_5.507-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-xml-namespacesupport_1.11-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-heimdal-lib_7.7.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libltdl-dev_2.2.6b-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openldap-client-dbg_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-file-libmagic_1.15-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-unbound_1.11.0-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-xml-parser-lite_0.721-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-snmp-components_1.0.4-1zimbra8.7b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-net-snmp_5.8-1zimbra8.7b3_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-bit-vector_7.4-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-carp-clan_6.08-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-dbi_1.634-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-list-moreutils_0.428-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-proc-processtable_0.53-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-aspell-de_20030222.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-memcached-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-openjdk-dbg_13.0.1-1zimbra8.7b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-dns-resolver-programmable_0.003-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-ldap_0.65-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-amavisd_2.10.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-mariadb-dev_10.4.13-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-opendkim-dev_2.10.3-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-compress-raw-bzip2_2.093-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-cidr-lite_0.21-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-apache-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libevent-lib_2.0.22-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-server_2.009-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-proxy-components_1.0.9-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-io-compress_2.093-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-proxy-base_1.0.0-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-apr-dev_1.5.2-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-freetype-lib-dbg_2.7.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-heimdal_7.7.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-ldap-components_2.0.4-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-email-date-format_1.005-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-http-daemon_6.01-1zimbra8.7b2_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-heimdal-dbg_7.7.0-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libxml2-lib_2.9.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-lmdb_2.4.59-1zimbra8.8b5_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-net-ssleay_1.88-1zimbra8.7b2_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-tcmalloc-lib-dbg_2.4-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-curl-dev_7.49.1-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libart-dev_2.3.21-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-libpng-dev_1.6.23-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-io-stringy_2.111-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-perl-mailtools_2.14-1zimbra8.8b1_all.deb filter=lfs diff=lfs merge=lfs -text
packages/zimbra-rsync_3.1.2-1zimbra8.8b1_arm64.deb filter=lfs diff=lfs merge=lfs -text
zcs-9.0.0.tar.gz filter=lfs diff=lfs merge=lfs -text
extra/syslog4j-0.9.47.jar filter=lfs diff=lfs merge=lfs -text
extra/jna-4.3.0.jar filter=lfs diff=lfs merge=lfs -text
extra/setuid/libsetuid-linux.so filter=lfs diff=lfs merge=lfs -text
